<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="<%= dashboard_path %>">
      <span class="glyphicon glyphicon-home" style="padding-right: 10px;"></span>
      <%= Setting.name %>
    </a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <%= link_to "哈囉，#{current_user.name}", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Logout
          <span class="glyphicon glyphicon-log-out" style="padding-left: 10px;"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
