<footer class="footer" id="copyright">
  <div class="container-fluid">
    <div class="pull-left" style="margin: 3px;">
      <a href="/"><%= "#{Setting.name}" %></a> | Copyright © 2016. All Rights Reserved.<br>
      除另有註明，網站內容皆採用
      <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/tw/">創用 CC BY-NC-ND 3.0 TW</a>
    </div>
    <div class="pull-right">
      <a href="https://www.facebook.com/taichungfieldwork">
        <%= image_tag '/images/fb_icon.png', alt: "Facebook", style: "margin: 3px;" %>
      </a>
      <a href="http://feeds.feedburner.com/taichung-fieldwork/rss" rel="alternate">
        <img src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" style="border: 0">
      </a>
    </div>
  </div>
</footer>
