// Place all the styles related to the frontend/webs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#equalheight {
  overflow: hidden;

  .ehdiv {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    background-color: #efefef;
    text-align: center;

    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inherit;
      word-break: break-word;
    }

    .inner-box {
      padding-bottom: 10px;
    }
  }
}
