/*
 *= require_directory ./backend
 *= require jquery.tagsinput/jquery.tagsinput.css
 */

body {
  margin-top: 50px;
}

nav.navbar-dark a {
  color: #fff;
}

.bg-inverse {
  color: #eceeef;
  background-color: #373a3c;
}

#accordion .glyphicon {
  margin-right: 10px;
}

.panel-body {
  padding: 0px;
}

.panel-body table tr td {
  padding-left: 15px
}

.panel-body .table {
  margin-bottom: 0px;
}
