/*
 *= require bxslider/jquery.bxslider
 *= require_directory ./skt-corp
 */

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #c34900;
  &:hover {
    text-decoration: none;
    color: #ff9600;
  }
}

ul {
  padding: 0 0 0 20px;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
  background-color: #fff;
}

.navbar-brand img {
  width: 400px;
  margin-top: 5px;
  margin-left: 5px;
}

.bxslider li:nth-child(n+2) {
  display: none;
}

.bx-wrapper {
  margin: 0 auto 45px;
}

.bxslider .description {
  position: absolute;
  bottom: 17%;
  left: 2%;
  z-index: 10;
  width: 100%;
  color: white;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 0;
    img {
      width: 240px;
    }
  }
  .bxslider .description {
    display: none;
  }
  #equalheight .bottom-padding {
    background-color: #fff;
  }
}

#copyright {
  background: #666565;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}

#footer a, #copyright a {
  color: #fff;
}

#footer a:hover, #copyright a:hover {
  color: #7ab040;
}

.full-one-img {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  margin-bottom: 5px;
}

.aligncenter {
  margin: 5px auto;
  text-align: center;
}

#post-list img {
  width: 100%;
}



.news_list {
  .th {
    border-bottom: 2px solid #ddd;
  }

  .tr {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
}

@media (max-width: 767px) {
  .news_list .thead {
    display: none;
  }
}



.blog-post {
  font-size: 12pt;
}

.full-one-img {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  margin-bottom: 5px;
}

.full-one-img-text {
  text-align: center;
  display: block;
}

.tag-list a{
  margin-right: 5px;
}

.wrapper_main {
  background: #fff;
  width: 1000px;
  margin: 0 auto;
}

.nivo-caption {
  width: 530px;
  bottom: 45px;
  position: absolute;
  left: 20px;
  background: transparent;
  z-index: 8;
  padding: 0;
  overflow: hidden;
  display: none;
}

.slide_info {
  padding: 0;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 0 2px #000;
}

.nivo-caption h1 {
  font: 12px 'open sans condensed', san-serif;
}

.slide_more {
  color: #666;
  font-size: 12px !important;
  text-shadow: none;
  line-height: .5;
  a {
    background: #333;
    color: #666;
    padding: 5px 10px;
  }
}

.nivo-caption a {
  color: #666;
}

.fixed_header {
  position: fixed;
  top: 0;
  border-bottom: 2px #ff9600 solid;
}

.about_text ul li, #sidebar ul li {
  background: asset-url("skt-corp/bull_right.png") no-repeat left 10px;
  padding: 5px 5px 5px 25px;
}

#commentform input#submit {
  background: #555;
  border: none;
  padding: 3px 10px;
  color: #fff;
  border-bottom: 2px #9c261a solid;
  display: inline-block;
  &:hover {
    background: #999;
    border-bottom-color: #ccc;
    color: #333;
  }
}

.center {
  margin: 0 auto;
}

.content-wrap {
  .blog {
    img {
      border: 1px solid #eee;
      padding: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .blog_list {
      list-style-type: none;
      .post {
        margin-bottom: 40px !important;
        overflow: hidden;
        clear: both;
        .postimg {
          clear: both;
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
  #blogmain img.postimg {
    padding: 0;
    border: 1px solid #eee;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 5px 20px 18px 0;
  }
  .blog {
    img {
      max-width: 98%;
      height: auto;
    }
    ul {
      &.blog_post {
        list-style-type: none;
        li {
          border-bottom: 1px solid #eee;
          padding-bottom: 35px;
          margin-top: 34px;
          overflow: auto;
          &:last-child {
            border: none;
          }
          p {
            margin-top: 15px;
          }
        }
      }
      li h1 {
        margin: 0;
        padding: 0;
        margin-left: 0;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 38px;
      }
      &.blog_post li h1 a {
        color: #525252;
      }
      ul {
        list-style-type: disc;
        margin-top: 10px;
        margin-left: -5px;
      }
      &.blog_post li ul li {
        border: none;
        margin-left: 5px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        min-height: 0;
      }
      &.single {
        list-style-type: none;
      }
      ul.post_meta {
        list-style: none;
        margin-bottom: 12px;
        margin-top: -8px;
        color: #5C5C5C;
        font-size: 13px;
        li {
          display: inline;
          margin-left: 5px;
        }
      }
    }
  }
}
